
version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: trike_cms
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - '3000:3000'
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/trike_cms?schema=public
      NEXTAUTH_SECRET: supersecret
      NEXTAUTH_URL: http://localhost:3000
    depends_on:
      - db

volumes:
  db_data:
